@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* COLORS */

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.btn {
  display: block;
  width: 10rem;
  height: 2rem;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  font-size: 1rem;
}

.btn--active {
  cursor: pointer;
  border: 1px solid #30336b;
  transition: 0.2s ease-out;
  background-color: #30336b;
  color: #fff;
}

.btn--active:hover {
  background-color: #282b5a;
  border: 1px solid #282b5a;
}

.btn--disabled {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #5e5f86;
  background-color: #5e5f86;
}

.btn--disabled:hover {
  cursor: not-allowed;
}
