.payment-form {
  width: auto;
}

.form__input {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: transparent;
}

.form__label {
  font-size: 0.85rem;
  color: rgb(80, 80, 80);
  margin: auto;
}

.payment-form fieldset {
  margin: 1rem auto;
  padding: 0;
  /* border-style: none; */
  background-color: #edf2f7;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid rgba(218, 218, 218, 0.5);
}

.form__input-container {
  display: flex;
  padding: 0 0.5rem;
  width: 100%;
  height: auto;
  min-height: 35px;
  align-content: center;
  align-items: center;
}

.payment-form fieldset div + div {
  border-top: 1px solid rgba(218, 218, 218, 0.5);
}

.form__card {
  display: flex;
  min-height: 35px;
  padding: 0 0.5rem;
  align-content: center;
  align-items: center;
}

.form__card div {
  width: 100%;
}

.hidden {
  display: none;
}
