.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  height: auto;
  width: 20rem;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 102;
  border-radius: 3px;
}

.modal__header {
  background-color: #30336b;
  padding: 1rem 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.modal__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #fff;
}

.modal__descp {
  font-size: 0.9rem;
  color: #cfd0ee;
}

.modal__close-btn {
  position: absolute;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 5px;
  right: 1px;
  color: #ffffff;
  transition: ease-out 0.2s;
}

.modal__close-btn:hover {
  color: rgb(218, 12, 53);
}

.modal__content {
  padding: 1rem 1rem;
}
